body {
    background-color: #ee87b2;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button { 
    background-color: rgb(228, 82, 131);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: nome;
}

.passo.ativo{
    
}